{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FranklyMade</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'franklymade/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'franklymade/css/modern-business.css' %}" rel="stylesheet">

   <link href="{% static 'franklymade/css/basestyle.css' %}" rel="stylesheet"> 


   <!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/b0mh6y2zj4en80w9lk3cc7eptf9plj2v3orc6oj5u2o00wi0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->

</head>

<body>

  <!-- Navigation -->
       {% include 'franklymade/included/navbar.html' %}
  
  <!-- the showcase image -->
  <header class="container text-center">
    <div class="showcase">
      <img   class="showcase  " src="{% static  'franklymade/images/Frame 1.png' %}" alt="not found">
    </div>
  </header>


  <!-- Page Content -->
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
  <!-- /.container -->

  <!-- Footer -->
    
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; FranklyMade 2019 - 2023</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'franklymade/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'franklymade/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
