
{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FranklyMade</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'franklymade/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'franklymade/css/modern-business.css' %}" rel="stylesheet">

   <link href="{% static 'franklymade/css/basestyle.css' %}" rel="stylesheet"> 
   <link href="{% static 'franklymade/css/carousel_css.css' %}" rel="stylesheet"> 


  <!-- boostrap cdn  i included this for the drop downs and the poppers-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


   <!-- Place the first <script> tag in your HTML's <head> -->
<!-- <script src="https://cdn.tiny.cloud/1/b0mh6y2zj4en80w9lk3cc7eptf9plj2v3orc6oj5u2o00wi0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->
<script src="https://cdn.tiny.cloud/1/a98pw8k8dm6tpocfj5lrhu1e9v264so1mzzq1894ybbk8ilu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->

  <!-- for the code editor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/python/python.min.js"></script>




</head>

<body>

  <!-- Navigation -->
       {% include 'franklymade/included/navbar.html' %}
  
  <!-- the showcase image -->
  <!-- header position -->
  


  <!-- Page Content -->
  {% if err_message %}
  <div class="text-center">
   
    <p class="">{{err_message.message}}</p>
    
  </div>
  {% endif %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
  <!-- /.container -->

  <!-- Footer -->
    
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; FranklyMade 2024</p>

      <div class="text-white">
        {% if user.is_authenticated %}
        signed in as <p><span>{{user.username}}</span></p>
        {% endif %}
        
        <!-- <h6><a href="{% url 'contribute' %}">Contribute</a></h6></h6> -->
      </div>
    </div>
    <!-- /.container -->

  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'franklymade/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'franklymade/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'franklymade/js/carousel_js.js' %}"> </script>
  
</body>

</html>
