



<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">FranklyMade</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item btn-secondary active" >
            <a class="nav-link" href="{% url 'portinfo' %}">course category</a>
          </li> -->

          <!-- 8888888************ -->
          

          <!-- *************** -->
          <li class="nav-item dropdown btn-secondary ">
            <!-- <a class=" nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'course_home' %}" role="button" aria-expanded="false">Learn to code</a> -->
            <a class=" nav-link " href="{% url 'course_home' %}" role="button" aria-expanded="false">Learn to code</a>

            <!-- <ul class=" dropdown-menu " style=" color:aqua; background-color: #37045F"> -->
              <!-- <li><a class="dropdown-item" href="#">python</a></li>
              
              <li><a class="dropdown-item" href="#">Django</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">JavaScript</a></li>
              <li><a class="dropdown-item" href="#">React</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">HTML</a></li>
              <li><a class="dropdown-item" href="#">CSS</a></li> -->
            <!-- </ul> -->
          </li>
          <li  class="">
            <ul class="">
              <li class="   nav-item nav mr-auto text-center "> 
                <!-- search bar was here -->
              </li>
            </ul>
        </li>
          
          
          
          
        </ul>

        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_home'%}">Blog</a>
          </li>

          
          <li class="nav-item small-btn">
            <button class="small-btn">
            <a style="font-size: 12px;" class="nav-link" href="{% url 'tech_home'%}">Latest in tech</a>
            </button>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">logout</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}">login</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">sign up</a>
          </li>
          {% endif %}
      </ul>
      
      </div>
    </div>
  </nav>
