{% extends 'franklymade/base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <!-- home header banner -->
  <header class=" text-center">
    <div class="showcase">
      <img src="{% static  'franklymade/images/techbanner.png' %}" alt="not found">
      <div style=" margin-top: 10px;" class="card-img-overla">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
      </div>
    </div>
  </header>


    <!-- this pre is used to add space -->
    <pre>
      
    </pre>


    <!-- breadcrumb -->
    
      <div> 
        <nav style="" aria-label="breadcrumb">
          <ol class=" mybreadcrumb breadcrumb">
            
          </ol>
        </nav>
        <nav style="" aria-label="breadcrumb">
          <ol class=" text-center mybreadcrumb-2 breadcrumb">
            <li class=" small-btn breadcrumb-item"><a href="#">Web development</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Block chain technology</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Full stack web development</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Smart contract</a></li>
          </ol>
        </nav>
      </div>
  
    
      
       
      <pre>
          
        
      </pre>
      <!-- the tech new banner -->
    
      <div class="row">
        
          <!-- the carousel -->
        <div class="col-sm-8 mb-3 mb-sm-0">
          {% include 'franklymade/included/banner_carousel.html' %}
         
        </div>
     
        <div class="col-sm-4">
          <div class="card" style="width: auto;">
            {% if recent_lesson %}
            <a href="{{recent_lesson.get_absolute_url}}"><img class="card-img-top" src="{% static 'franklymade/images/pexels5.jpg' %}" alt="Card image cap"></a>
            <div style="background-color: #a794b9b8;" class="card-body">
              <h5>{{recent_lesson.title}}</h5>
              <p class="card-text">{{recent_lesson.get_shortened_lesson_content|safe}}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <pre>

      </pre>
     <!-- caurosel tech news section-->
     <section>      
       {% include 'franklymade/included/multicard_carousel.html' %}
      </section>
      <pre>
      </pre>
      
    <section class="mb-5">
      <div class="card mb-3" style="">
        <div class="row g-0">
            
          
          <div class="col-sm-8" style="padding-right: 0px; padding-left: 0px; ">
          <a href="{{ recent_course_series.get_absolute_url }}">
            <img src="{% static 'franklymade/images/pexels6.jpg' %}" class="img-fluid rounded-start" alt="...">
          </a>
          </div>
          <div style=" border: solid 2px; border-color: rgb(83, 17, 75); min-width: 200px; height: auto; background-color:#a794b9b8 ;" class="col-sm-4">
            <div class="card-body ">
              <h5 class="card-title">{{recent_course_series.course_title}}</h5>
              <p class="card-text">{{recent_course_series.short_description_text|safe}}</p>
              <p class="card-text"><small class="text-body-secondary">Last updated {{recent_course_series.date_created|timesince}} ago</small></p>
            </div>
          </div>
        </div>
      </div>
     </section>
     
  

</div>
{% endblock %}
 