{% extends 'franklymade/base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <!-- home header banner -->
  <!-- <header class=" text-center">
    <div class="showcase">
      <img src="{% static  'franklymade/images/techbanner.png' %}" alt="not found">
      <div style=" margin-top: 10px; " class="card-img-overlay">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
      </div>
    </div>
  </header> -->


    <!-- this pre is used to add space -->
    <pre>
      
    </pre>


    <!-- breadcrumb -->
    
    <div> 
        <nav style="" aria-label="breadcrumb">
          <ol class=" mybreadcrumb breadcrumb">
            
          </ol>
        </nav>
        <nav style="" aria-label="breadcrumb">
          <ol class=" text-center mybreadcrumb-2 breadcrumb">
            <li class=" small-btn breadcrumb-item"><a href="#">Web development</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Block chain technology</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Full stack web development</a></li>
            <li class=" small-btn breadcrumb-item active" aria-current="pag"><a href="">Smart contract</a></li>
          </ol>
        </nav>
    </div>
  

      <pre>
                
      </pre>
      <!-- the tech new banner -->
    
      <div class="row">
        
          <!-- the carousel -->
        <div class="col-sm-8 mb-3 mb-sm-0">
          {% include 'franklymade/included/banner_carousel.html' %}
         
        </div>
     
        <!-- this is where the feature lesson is -->
        {% include 'tech/included/featured_side_bar.html' %}
        
      </div>

      <pre>

      </pre>

      <!-- unending list of posts  -->
        <div class="row">
                
                <!-- the carousel -->
            {% for news in news_list %}
              <div class="col-sm-4">
                <div class="card" style="width: auto;">
                  <img class="card-img-top" src="{{ news.news_image.url|default_if_none:'default-image-url'}}" alt="News Image">
                  
                  <div style="background-color: #a794b9b8;" class="card-body">
                    <h5>{{news.title}}</h5>
                    <p class="card-text">{{ news.shortened_news_content|safe}}</p>
                  </div>
                  <button style="margin-top: -3px;" class="small-btn">
                    <a class="nav-link" href="{% url 'detail_page' news.slug %}">Learn more</a>
                  </button>
                </div>
              </div>
            {% endfor %}

            
            
        </div>
     <!-- caurosel tech news section-->
     
      <pre>
      </pre>
      

  

</div>
{% endblock %}
 