{% extends 'franklymade/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div>
        <div class="text-center mt-5 mb5 mybtn text-white"><h4>{{user.username}} - Create course</h4></div>
        <var>

        </var>
        
        {% if messages %}
        {% for message in messages %}
        <ul class="messages badge ">
            <li {% if message.tag %} class="{{message.tag}}"{% endif %}>{{message}}</li>

        </ul>
        {% endfor %}

        {% endif %}
        <form method="POST" >
            {% csrf_token %}

            {{form|crispy}}

        <button class="mybtn">submit</button>
        <var>

            
        </var>
        </form>
        <var>





        </var>
</div>

{% endblock %}