{% extends 'franklymade/tutorial_base.html' %}


{% block course_content %}
    
    <br>
   <h3><code>{{lesson.title}}</code></h3>
   <pre>
   </pre>
    
    <div style=" margin-bottom: -3px; background-color: #a794b9b8;" class="card-body">
        <p>{{lesson.lesson_content|safe}}</p>
    </div>

    {% include 'tutorial/included/code_editor.html' %}

    <div class="mt-5 mb-5">
        <a href="{{next_lesson_url}}"><button type="button" class="btn list-group-item-color mb-5 mt-5 " style="width: 100%;">Next Lesson</button></a>
        
    </div>





{% endblock %}
<!-- Blog entry ends  -->