
/* 
.my-4{
    margin-top: ;
} */

/* #header-welk {
    margin-top:-5em !important; 


} */
/* (((((((((((((((FOR THE NAV BAR STYLING ))))))))))))))))))))))*/
.myform-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* button, input {
    overflow: visible;
} */


.bg-dar {
    background-color: #37045F !important;
}

/*(((((((((((((((((((((((((((for the showcase image)))))))))))))))))))))))  */

.showcase img{
    width: 100% !important;
    margin-left: -10px;
}


/* (((((((((((((((main header section style)))))))))))))))))))))) */
.breadcrumb{
    background-color: #37045F;
}



/* (((((((((((((((((((( code display box styling)))))))))))))))))))))))))))))) */

.lessonboard {
    background: #f8f8f8 !important;
    overflow: auto;
    width: auto;
    border: solid gray;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
    
    
}
.the-inside {
    margin: 0;
    border: 0px;
    line-height: 125%;

}



/* ((((((((((((((((((((((((((()))))))))))))))))))))))))))))))) */
.row-controler{
    margin-top: 60px;
}

/* this is what i use to remove the border lines of any boostrap card */
.mycard{
    border: 0px solid rgba(158, 49, 49, 0.125) !important;
}

/* .mycontainer{
    width: px !important;
} */

.button-control{
    margin: 60px;
    width: auto !important;
}
.mybtn{
    background-color: #37045F;
    color: #6ABBFF;
    width: 100%!important;
}

.image-resize{
    width: auto;
    height: 200px;
}

/* for the main banner */


/* for the table of content dropdown */
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

/* for the the table of content */
/* use this class for the all the button */
.list-group-item-color{
    color:#fff;
    background-color: #37045F;
    
}

/* for Django styling */